source https://nuget.org/api/v3
source https://nuget.org/api/v2

#
# Build
#
nuget IntelliFactory.Build
nuget FAKE

#
# Testing
#
nuget WebSharper.Testing
nuget Suave.Testing

#
# Templating Systems
#

# DotLiquid
nuget DotLiquid
nuget DotLiquid.Mailer
nuget DotLiquid.Modules
nuget Suave.DotLiquid

# Razor & FsRazor
#nuget FsRazor
//nuget Microsoft.Web.Razor // ??
#nuget Suave.Razor

#
# Web Service
#

# Nancy
nuget Nancy
nuget Nancy.ViewEngines.DotLiquid
nuget Fancy

# Suave
source https://nuget.org/api/v2
nuget Suave
nuget Suave.DotLiquid
nuget Suave.RouteTypeProvider
nuget Suave.OpenSSL
#nuget Suave.Experimental

# WebSharper
nuget WebSharper
nuget WebSharper.Formlets
#nuget WebSharper.FsRazor
nuget WebSharper.Piglets
nuget WebSharper.Forms
nuget WebSharper.Suave
nuget WebSharper.Templates
nuget WebSharper.UI.Next
nuget WebSharper.UI.Next.Formlets
nuget WebSharper.OWIN
nuget WebSharper.Owin.WebSocket
nuget ExtSharper
nuget Intellifactory.Reactive

# Logging
nuget Logary
nuget Logary.Adapters.Suave
nuget Logary.Services.SuaveReporter
nuget FSharp.Core
nuget Expecto
nuget FSharp.NET.Sdk